.inline {
    display: inline-block;
}

.bold {
    font-weight: bold;
}

.underline {
    text-decoration: underline;
}

.extra {
    font-size: 35px;
}

.large {
    font-size: 30px;
}

.normal {
    font-size: 25px;
}

.small {
    font-size: 20px;
}

.align-top {
    vertical-align: top;
}